<div class="text-center" style="color: rgb(214, 222, 222)">
  <h1> GAPS PARA EMPRESAS</h1>
  <P>COMUNIQUESE CON LOS EXPERTOS IDEONEOS EN SOLO UNOS PASOS</P>               
</div>

<div class="card-group col-md-10" style="margin: auto;">
  <div class="card" style="background-color: #424242;">
    <img src="../../../assets/documents.jpg" style="width: 60%; height: 200px; margin: auto;" class="card-img-top" alt="...">
    <hr style="color: white;">
    <div class="card-body">
      <h1 class="card-title text-white" style="text-align: center;">Tarifas preferenciales</h1>
      <p class="card-text text-white" style="text-align: justify;">Saque provecho de precios atractivos para empresas en función de la cantidada y la fercuencia de sus envíos.</p>
      <br>
    </div>
  </div>
  

  <div class="card" style="background-color: #424242">
    <img src="../../../assets/atencionCliente.jpg" style="width: 60%; height: 200px; margin: auto;" class="card-img-top" alt="..."><hr style="color: white;">
    <div class="card-body">
      <h1 class="card-title text-white" style="text-align: center;">Soporte excepcional</h1>
      <p class="card-text text-white" style="text-align: justify;">Aumenta la eficiencia y controle todos sus envíos con nuestra exclusivas herramientas de envío de GAPS.</p>
</div>
  </div>

  <div class="card" style="background-color: #424242">
    <img src="../../../assets/mundo.png" style="width: 60%; height: 200px; margin: auto;" class="card-img-top" alt="..."><hr style="color: white;">
    <div class="card-body">
      <h1 class="card-title text-white" style="text-align: center;">Servicios de clase mundial</h1>
      <p class="card-text text-white" style="text-align: justify;">Benefíciese de nuestra experiencia global y de una red logíctica amplia y confiable.</p>

</div>
  </div>
</div>
<br>

                <h1 style="text-align: center; color: red; font-family: 'Times New Roman', Times, serif;">MI PERFIL DE ENVÍO</h1>
