<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20">
        <div class = "col-md-6 offset-md-3 text-center">
          <h1 style="color: azure">Paquetria GAPS</h1>
          <img src="../../../assets/logo1.jpg" class="rounded" alt="Logo" height="100px" width="115rem">
          </div>
      </div>
    </div>
  </div>

<!-- <nav id="navbar-example2" class="navbar bg-dark px-3 mb-3 fixed-top" style=" position: sticky;top: 0;">
  <img src="../../../assets/logo1.jpg" class="rounded" alt="Logo" height="50px" width="70rem">
  <a class="navbar-brand text-white" routerLink="/addRegistro" >Registro</a>
   <a class="navbar-brand text-white" routerLink="/iniciarS">Iniciar sesión</a>
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Más</a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item text-white" href="#scrollspyHeading1">Rastrear envio</a></li>
        <li><a class="dropdown-item text-white" href="#scrollspyHeading2">Enviar</a></li>
        <li><a class="dropdown-item text-white" href="#scrollspyHeading3">Obtenga cotización</a></li>
        <li><a class="dropdown-item text-white" href="#scrollspyHeading4">GAPS para Empresas</a></li>
        <li><a class="dropdown-item text-white" href="#scrollspyHeading5">¿Quienes somos?</a></li>
      </ul>
    </li>
 </nav> -->  
<br>
<h4 id="scrollspyHeading1">
<div class="d-flex justify-content-center">
  <div class="card border border-danger" style="width: 30rem; background-color: #424242">
    <div class="card-body">  
      <h2 class="card-title text-white">Rastree su Envío</h2>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Ingrese el o los números de rastreo"
          aria-label="Search"
        />
        <button type="button" class="btn btn-danger">Rastrear</button>
      </form><br>
      <a class="navbar-brand text-white" routerLink="/enviosporreferencia">Seguimiento de una referencia de envío GAPS Express ></a>
    </div>
  </div>
</div>
 <br>
</h4>
<div class="card-group">
  <h4 id="scrollspyHeading2">
    <div class="d-flex justify-content-center">
      <div class="card border border-success"  style="width: 25rem; height: 220px; ">
        <div class="card-body" style="background-color: #424242">  
          <div class="card-group">
            <div class="card border border-success" style="background-color: #424242" >
              <div style="text-align: center; color: white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-plus-fill" viewBox="0 0 16 16">
                  <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                  <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
                </svg>
              </div>
              <div class="card-body">
                <h2 class="card-title text-white">Enviar Ahora</h2>
                <a class="navbar-brand text-white" routerLink="/envio" >Enviar paquete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </h4>
     <br>
    <h4 id="scrollspyHeading3"> 
      <div class="d-flex justify-content-center">
        <div class="card border border-success"  style="width: 25rem; height: 220px;">
          <div class="card-body" style="background-color: #424242">  
            <div class="card-group">
              <div class="card border border-success" style="background-color: #424242 " >
                 <div style="text-align: center; color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                      <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
                      <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                    </svg>
                  </div>
                  <div class="card-body">
                    <h2 class="card-title text-white">Obtenga una cotización</h2>
                    <a class="navbar-brand text-white" routerLink="/cotizacion" >Cálculo del costo para compartir y comparar</a>
            
                  </div>
                </div>
              </div></div>
          </div>
        </div>
      </h4>
    <h4 id="scrollspyHeading4">
      <div class="d-flex justify-content-center">
           <div class="card border border-success"  style="width: 25rem; height: 220px;background-color: #424242">
          <div class="card-body">  
            <div class="card-group">
                <div class="card border border-success" style="background-color: #424242" >
                  <div style="text-align: center; color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill-add" viewBox="0 0 16 16">
                      <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Z"/>
                      <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.493 4.493 0 0 0 12.5 8a4.493 4.493 0 0 0-3.59 1.787A.498.498 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.476 4.476 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1V1Zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
                    </svg>
                  </div>
                  <div class="card-body">
                    <h2 class="card-title text-white">GAPS para Empresas</h2>
                    <a class="navbar-brand text-white" routerLink="/empresas" >¿Envío regular? Solicite una cuenta comercial <br> y obtenga beneficios exclusivos</a>
                  </div>
                </div>
                </div>
              </div></div>
        </div>
      </h4>
  </div>

  <h4 id="scrollspyHeading5">
    <div class="d-flex justify-content-center">
      <div class="card border border-success" style="width: 30rem; background-color: #424242">
        <div class="card-body" style="background-color: #424242">  
          <h2 class="card-title text-white" style="text-align: center">¿Quienes somos?</h2>
          <p class="card-text text-white" style="text-align: justify;">
            En nuestra paquetería ofrecemos servicios de entrega de paquetes y
            documentos. También ofrecemos servicios de rastreo de envíos y
            atención al cliente. Nuestro objetivo es brindar un servicio
            rápido y confiable a nuestros clientes. Si tienes alguna pregunta
            o necesitas ayuda con tu envío, no dudes en contactarnos.
          </p>
        </div>
      </div>
  </div>
    </h4>


