<h1 class="card-title text-white">Ayuda y Soporte</h1>
<div class="card-group" style="margin: auto;">
  <div class="d-flex justify-content-center">
    <div class="card border border-danger" style="width: 22.2rem; background-color: #424242; ">
      <div class="card-body">  
        <h1 class="card-title text-white">Rastree su Envío</h1>
        <br>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Ingrese número de rastreo"
            aria-label="Search"
          />
          <button type="button" class="btn btn-danger">Rastrear</button>
        </form><br>
         </div>
    </div>
  </div>
      <div class="card border border-danger" style="background-color: #424242; color: white;">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
            <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </div>
        <div class="card-body">
          <h1 class="card-title text-white">Chatea con nosotros</h1><hr>
          <p class="card-text text-white">Nuestro asistente digital está disponible 24/7 para responder tus consultas.</p>
        </div>
      </div>


      <div class="card border border-danger" style="background-color: #424242; color: white; height: 40px;">
        <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
            <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </div>
        <div class="card-body" style="background-color: #424242; height: 6000px;">
          <h1 class="text-white" style="background-color: #424242;">Feriados</h1><hr>
          <p class="card-text text-white">Permanecemos cerrados en estos feriados</p>
          <table>
            <tr class="card-text text-white">Año Nuevo <th style="text-align:left">Ene 1</th></tr>
          <tr class="card-text text-white">Viernes Santo<th style="text-align:left">Abr 2</th></tr>
          <tr class="card-text text-white">Navidad<th style="text-align:left">Dic 25</th></tr>
          </table><br>
           <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Horario de atención</a>
            <ul class="dropdown-menu dropdown-menu-dark" style="width: 28rem; height: 400%;">
              <li><a class="dropdown-item text-white">Lunes – Viernes: 8:00 am a 8:00 pm <br>Sábado: 8:00 am a 2:00 pm <br>Domingo: Cerrado</a></li>
            </ul>
          </div><br>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Oficina de GAPS</a>
            <ul class="dropdown-menu dropdown-menu-dark" style="width: 28rem; height: 700%;">
              <li><a class="dropdown-item text-white">GAPS Express Mexico, S.A. de C.V. <br>Av. Fuerza Aerea Mexicana # 540 <br>
                 Col. Federal <br>Mexico, D.F. <br> Deleg. Venustiano Carranza <br>15700
                </a></li>
             </ul>
            </div>
        </div>
      </div>
    </div>

<div class="card-group col-md-8">
      <div class="d-flex justify-content-center">
        <div class="card border border-danger" style="width: 26rem; background-color: #424242; color: white; height: 240px;">
         <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z"/>
          </svg>
         </div>
          <div class="card-body">
           <div class="card-body">
              <h1 class="card-title text-white">	Soporte técnico para herramientas de envíos online</h1><hr>
              <p class="card-text text-white">No es necesario llamar. Puede simplemente enviar una solicitud/pregunta a nuestro equipo de soporte técnico, utilizar el chat o consultar nuestros artículos de autoayuda.</p>
            </div>
        </div>
      </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="card border border-danger" style="width: 26rem; background-color: #424242; color: white;">
         <div class="text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
          </svg>
         </div>
          <div class="card-body">
           <div class="card-body">
            <h2 class="card-title text-white">Contáctenos</h2><hr>
          <h4 class="card-text text-white">Envíenos un email</h4>
          <p>gaps@gmail.com.mx</p>
          </div>
        </div>
      </div>
      </div>